$main:#4CA3FF ;
$line: #DFF2FF;
$links: #98AAB7;
$accent: #011829;
nav {
    transform: translateY();
    transition: 0.5s ease-out;  
    * {
        text-decoration: none;
        transition: 0.2s ease-out;
    }
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    z-index: 10;
    background: white;
    .alert {
        height: 74px;
        background: $main;
        display: grid;
        place-items: center;
        color: white;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 100px;
        height: 100px;
        span {
            display: flex;
            align-items: center;
            gap: 20px;
            a {
                color: $links;
                font-weight: 600;
            }
            .special {
                background-color: $main;
                color: white;
                padding: 18px 22px;
                border-radius: 100px;
            }
        }
    }
    border-bottom: 1px solid $line;
}
.special {
    // background-color: $main;
    color: white;
    padding: 18px 52px;
    border-radius: 100px;
    text-decoration: none;
}
.home {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    gap: 164px;
    .hero {
        height:  calc(100vh - 20px);
        width: 100%;
        display: flex;
        position: relative;
        padding: 10px;
        .videoCont {
            padding: 0 18px;
            width: 100%;
            position: relative;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 44px;
            // aspect-ratio: 16/9;
            video {
                height: 120%;
                width: 120%;
                object-fit: cover;
                background-color: RED;
            }
        }
        .heroInfo {
            position: absolute;
            inset: 0;
            width: 100%;
            padding: 0 50px;
            height: max-content;
            margin: auto;
            display: flex;
            flex-direction: column;
            gap: 44px;
            h1 {
                font-size: 152px;
            }
             p {
                display: flex; align-items: center;
                gap: 12px;
                font-weight: 600;
                font-size: 18px;
             }
            .mainInfo {
                display: flex;
                justify-content: space-between;
                padding: 0 12px;
                height: 300px;
                align-items: center;
                border-top: 1px solid black;
                .heroLink {
                    display: flex;
                    flex-direction: column;
                    gap: 48px;
                    height:max-content;
                    h2 {
                        font-size: 32px;
                        max-width: 500px;
                    }
                    .links {
                        display: flex;
                        gap: 28px;
                    }

                    .special:first-child {
                        background-color: black;
                        color: white;

                    }
                    .special  {
                        outline: black 1px solid;
                        color: black;
                    }
                }
            }

        }
    }

    .header {
        font-size: 64px;
        padding: 0 72px;
        // max-width: 1200px;
        font-weight: bolder;
        text-align: left;
    }

    .community {
        display: flex;
        padding: 10px 72px;
        gap: 10px;
        .communityInfo {
            display: flex;
            flex-direction: column;
            width: 50%;
            gap: 20px;
        }
        .card {
            display: flex;
            align-items: center;
            height: 280px;
            width: 100%;
            border-radius: 12px;
            padding: 0 20px;
            gap: 20px;
            outline: 1px solid $line;
            img {
                height: 96px;
                margin-bottom: 20%;
            }
            a {
                color: $main;
                font-size: 34px;
                text-decoration: none;
                font-weight: 600;
            }
            p {
                // color: white;
                font-size: 18px;
                font-weight: 600;
            }
            .cardInfo {
                display: flex;
                flex-direction: column;
                gap: 60px;
            }
        }
        .card:first-child {
            background-color: $accent;
            color: white;
        }

        .iFrame {
            width: 50%;
            padding: 0;
            overflow: hidden;
            border-radius: 32px;
            background-color: red;
            display: flex;
            position: relative;
            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .iFrameInfo {
                position: absolute;
                width: max-content;
                color: white;
                font-size: 38px;
                font-weight: 600;
                text-shadow: 0px 0px 5px black;
                bottom: 0;
                left: 0;
                line-height: 1;
                transform: translateX(20px) translateY(-28px);
            }
        }
    }

    .product {
        display: flex;
        flex-direction: column;
        padding: 10px 72px;
        gap: 44px;
        .typewriter {
            font-size: 114px;
            display: flex;
            align-items: center;
            gap: 8px;
            font-weight: 600;
            padding: 20px 0;
            .type {
                color: $main;
            }
        }
        
    }
    .cards {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
        padding: 32px 0;
        border-top: 1px solid $links;
        // width: max-content;
        // align-self: center;
        .pcard  {
            width: 100%;
            aspect-ratio: 9.5/10;
            outline: 1px solid $links;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            padding: 10px 24px;
            justify-content: space-evenly;
            position: relative;
            min-width: 320px;
            .iconCont {
                flex: 0.6;
                img {
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
            .pcardInfo {
                
                display: flex;
                flex-direction: column;
                gap: 18px;
                h2 {
                    font-size: 22px;
                }
                p {
                    font-weight: 600;
                    color: $links;
                }
            }
        }
    }

    .getStarted {
        margin: 0 12px;
        display: flex;
        flex-direction: column;
        background-color: $accent;
        border-radius: 44px;
        .videoCont {
            width: 100%;
            background-color: blue;
            position: relative;
            overflow: hidden;
            display: grid;
            place-items: center;
            border-radius: 44px;
            aspect-ratio: 16/5;
            video {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
    .getStartedInfo {
        width: 100%;
        aspect-ratio: 16/5;
        display: flex;
        align-items: center;
        padding: 0 72px;
        gap: 10px;
        justify-content: space-between;
        h1 {
            color: white;
            font-size: 72px;
            width: 50%;
        }
        .content {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 24px;
            max-width: 600px;
            p {
                color: white;
            }
            .special {
                outline: 1px solid white;
                width: max-content;
                display: flex;
                align-items: center;
                gap: 12px;
                padding: 14px 32px;
            }
        }
    }

    .contacts {
        height: 700px;
        border-radius: 12px ;
        outline: 1px solid $links   ;
        margin: 0 12px;
        display: flex;
        flex-direction: column;
        padding: 10px 44px;
        justify-content: center;
        gap: 40px;
        .special {
            background-color: $main;
            width: max-content;
        }
        .top {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            height: 50%;
            .paragraph {
                font-weight: 600;
                font-size: 24px;
            }
            .contactsInfo {
                display: flex;
                flex-direction: column;
                gap: 22px;
                max-width: 400px;
                h1 {
                    font-size: 52px;
                    font-weight: 600;
                }
            }
            .paragraph {
                max-width: 500px;
            }

           
        }

         .bottom {
                border-top: 1px solid $links;
                display: flex;
                gap: 20px;
                padding-top: 40px;
                align-items: center;
                
                .cCard {
                    display: flex;
                    flex-direction: column;
                    height: max-content;
                    width: 400px;
                    gap: 24px;
                    h2 {
                        font-weight: 700;
                    }
                    p {
                        
                        font-weight: 600;
                    }
                    
                }
            }
    }
}





@media screen and (max-width: 1000px ) {
    .home {
        gap: 24px !important;
    }
    nav {
        .container {
            padding: 0  24px!important;
            span {
                span {
                    background-color: red;
                    display: none;
                }
            }
            .special {
                font-size: 12px;
                padding: 12px 16px !important;
            }
        }
       
    }
    .hero {
        padding: 0 !important;
        .videoCont {
            border-radius: 0 !important;
        }
        .heroInfo {
            h1 {
                font-size: 44px !important ;
                word-spacing: 100vw;
            }
            .mainInfo {
                flex-direction: column-reverse;
                align-items: flex-start !important;
                padding: 10px 0 !important;
                gap: 20px !important;
                justify-content: flex-start !important;
                height: 100% !important;
                .links {
                    flex-direction: column;
                    .special {
                        width: fit-content;
                    }
                }
            }
        }
    }
    .community {
        all:  unset;
        display: flex;
        flex-direction: column;
        padding: 0 10px !important;
        .communityInfo {
            width: 100% !important;
            align-items: center;
            .card {
                height: fit-content !important;
                max-width: 600px;
                flex-direction: column;
                gap: 12px !important;
                padding: 10px 12px !important;
                 img {
                    margin-bottom: 0 !important;
                 }
                .cardInfo {
                    p {
                        font-size: 16px !important;
                        font-weight: 500 !important ;
                    }
                    a {
                        font-size: 20px;
                        text-decoration: und;
                    }
                    gap: 8px !important;
                }
            }
        }
        .iFrame {
            width: 100% !important;
            
        }
    }
    .product {
       .typewriter {
        font-size: 3em !important;
       } 
       .cards {
        flex-direction: column;
        .pcard {
            width: auto;
            max-height: 400px;
        }
       }
    }
    .header {
        font-size: 24px !important;
        padding: 24px !important;
        
    }
    .getStarted {
        
        .videoCont {
            aspect-ratio: none !important;
            height: 240px !important;
        }
        .getStartedInfo {
            flex-direction: column !important;
            align-items: flex-start !important;
            justify-content: center !important;
            padding: 20px 10px !important;
            aspect-ratio: none !important;

             h1 {
                font-size: 32px !important;
                width: 100%;
             }
            .content {
                width: 100% !important;
                max-width: 100% !important;
            }
        }
    }

}


@media screen and (max-width: 600px) {
    .product {
        .typewriter {
            flex-direction: column;
        }


    }
    .product {
        padding: 0  12px !important;

   }
   .getStarted {
    border-radius: 12px !important;
    .videoCont {
        border-radius: 12px !important;
    }
   }
}